<h2>Add new Movie</h2>
<form action="/movies" method="POST">
  <label for="title">Movie Title</label>
  <input id="title" type="text" name="title">
  <label for="genre">Movie genre</label>
  <input id="genre" type="text" name="genre">
  <label for="plot">Movie Plot</label>
  <input id="plot" type="text" name="plot">
  <button type="submit"></button>
</form>